@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500&family=News+Cycle:wght@700&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	font-family: Maven Pro;
}

.header-box {
	display: block;
	background-color: #39bd95;
	padding-top: 1rem;
	padding-bottom: 1rem;
	padding-left: 2rem;
	padding-right: 2rem;
	width: 100%;
	height: 175px;
}

.sub-header {
	display: inline-flex;
	width: 100%;
}

.header-left {
	width: 50%;
}

.header-right {
	width: 50%;
	display: flex;
	justify-content: right;
	align-items: center;
}

.title {
	font-size: 64px;
	margin-bottom: 1rem;
}

body {
	background-color: #597175;
}

.chart-box {
	width: 100%;
	background-color: #597175;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer-box {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 45px;
	background-color: #597175;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
/*	border-top: 1px solid;
	border-color: #39bd95;*/
	font-size: 14px;
}